= if product
  %td
    = link_to product_path(product) do
      = image_tag image_for(product),  width: "95", class: "product-img"
    .product-description
      %p
        = link_to product.title, product_path(product)
      %p
        See all
        = link_to product.category.label, category_path(product.category)
